h1 {
  border-bottom: 1px solid #dddddd;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  font-weight: bold;
}
h2 {
  font-size: 16px;
}
.passing {
  color: #50b432;
}
.failing {
  color: #ed561b;
}
table caption {
  font-weight: bold;
}
a,
a:visited,
a:hover,
a:active {
  color: #0000cc !important;
}
