/* Reset
 * ----- */
html,
body {
  margin: 0;
}
/* Sticky Footer. Do not change.
 * ----------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 75px;
  /* bottom = footer height */
}
#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
}
/* General
 * ------- */
h1 {
  border-bottom: 1px solid #dddddd;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  font-weight: bold;
}
h1 span {
  font-family: arial, sans-serif;
  font-size: 16px;
  font-style: italic;
}
.passing {
  color: #50b432;
}
.failing {
  color: #ed561b;
}
table caption {
  font-weight: bold;
}
a,
a:visited,
a:hover,
a:active {
  color: #0000cc !important;
}
/* Footer
 * ------ */
#footer {
  background-color: #eeeeee;
}
#footer .container {
  padding-top: 15px;
}
