@import 'variables.less';

h1 {
    border-bottom: 1px solid @color-gray-light;
    font-family: @font-family-base;
    font-size: 50px;
    font-weight: bold;
}
h2 {
    font-size: 16px;
}

.passing {
    color: @color-green;
}
.failing {
    color: @color-red;
}
table {
    caption {
        font-weight: bold;
    }
}
a,
a:visited,
a:hover,
a:active {
    color: @color-link-blue !important;
}